<div *ngIf="!spettacoliIn$">
  <button (click)="getDati(false)">Accedi</button><br />
  <button (click)="getDati(true)">Gestione spettacoli</button>
</div>
<div *ngIf="!admin && spettacoliIn$">
  <app-login
    [spettacoli]="spettacoliIn$"
    [(spettacoloScelto)]="spettacoloScelto"
    [(nomeUtente)]="nomeUtente"
  ></app-login>
  <br />
  <br />
  <button [disabled]="!nomeUtente || !spettacoloScelto" (click)="foo()">
    Prenota
  </button>
  <button [disabled]="!nomeUtente || !spettacoloScelto" (click)="foo2()">
    Veloce
  </button>
</div>
<div>
  <app-sala-teatro
    *ngIf="spettacolo"
    [(spettacolo)]="spettacolo"
    [nomeUtente]="nomeUtente"
  ></app-sala-teatro>
</div>

<div *ngIf="admin && spettacoliIn$">
  <app-gestione [spettacoli]="spettacoliIn$"></app-gestione>
</div>
